
h1{
  font-family: Poppins;
  font-size: 700;
}
h2{
  font-family: Poppins;
  font-size: 600;
}
p{
  font-family: Open Sans;
  font-size: 400;
}

.address{
  display: inline-block;
  margin-left: 200px;
}

.about{
  display: inline-block;
  margin-left: 200px;
  color: #ffffff;
}

.banner{
background-image: url("data:image/svg+xml,%3Csvg width='1440' height='718' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient x1='137.029%25' y1='129.104%25' x2='50%25' y2='50%25' id='a'%3E%3Cstop stop-color='%23FFF' stop-opacity='0' offset='0%25'/%3E%3Cstop stop-color='%23C9F0FF' offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient x1='-160.796%25' y1='-224.453%25' x2='107.047%25' y2='70.702%25' id='b'%3E%3Cstop stop-color='%23FFF' stop-opacity='0' offset='0%25'/%3E%3Cstop stop-color='%23DEF5FE' offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient x1='-347.113%25' y1='338.405%25' x2='65.921%25' y2='50%25' id='c'%3E%3Cstop stop-color='%23FFF' stop-opacity='0' offset='0%25'/%3E%3Cstop stop-color='%23C9F0FF' offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient x1='-97.01%25' y1='148.218%25' x2='65.921%25' y2='50%25' id='d'%3E%3Cstop stop-color='%23FFF' stop-opacity='0' offset='0%25'/%3E%3Cstop stop-color='%23C9F0FF' offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient x1='-19.87%25' y1='-6.768%25' x2='117.594%25' y2='100%25' id='e'%3E%3Cstop stop-color='%23FFF' stop-opacity='0' offset='0%25'/%3E%3Cstop stop-color='%23C9F0FF' offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient x1='119.936%25' y1='0%25' x2='0%25' y2='84.589%25' id='f'%3E%3Cstop stop-color='%23FFF' stop-opacity='0' offset='0%25'/%3E%3Cstop stop-color='%23C9F0FF' offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient x1='-89.026%25' y1='77.649%25' x2='137.149%25' y2='17.758%25' id='g'%3E%3Cstop stop-color='%23FFF' stop-opacity='0' offset='0%25'/%3E%3Cstop stop-color='%23C9F0FF' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg transform='translate(0 -20)' fill='none' fill-rule='evenodd'%3E%3Crect fill='url(%23a)' transform='rotate(45 974.87 593.87)' x='955.87' y='574.87' width='38' height='38' rx='3'/%3E%3Crect fill='url(%23b)' transform='rotate(45 516.02 369.542)' x='507.521' y='361.042' width='17' height='17' rx='1'/%3E%3Cpath d='M1331.962 291.251l12.264 24.528a2 2 0 0 1-1.789 2.894h-24.528a2 2 0 0 1-1.788-2.894l12.264-24.528a2 2 0 0 1 3.577 0z' stroke='url(%23c)' stroke-width='10' opacity='.543' transform='rotate(30 1330.173 303.173)'/%3E%3Cpath d='M844.672 172.644l18.41 36.82a5 5 0 0 1-4.472 7.236h-36.82a5 5 0 0 1-4.472-7.236l18.41-36.82a5 5 0 0 1 8.944 0z' stroke='url(%23d)' stroke-width='10' opacity='.543' transform='rotate(30 840.2 190.2)'/%3E%3Cpath d='M0 428c38.952-92.623 95.85-125.954 170.692-99.992 112.265 38.943 152.14 91.606 212.59 0 15.672-23.751 9.865-74.51-29.279-76.526-39.144-2.016-9.251-46.316 58.144-55.007 67.395-8.691-18.096-70.062-69.395-87.898-53.275-18.522 15.159-67.282 20.444-85.903 8.58-30.232-112.485-30.232-363.196 0V428z' fill='url(%23e)'/%3E%3Cpath d='M1440 738c-87.498-1.025-152.016-21.183-193.555-60.474-62.308-58.935-61.792-186.387-194.636-179.419-132.843 6.968-274.802-21.538-224.4-101.821 50.402-80.284 168.127-70.332 196.264-201.192 28.136-130.86-202.236 27.165-240.286-59.848-14.858-33.98 20.409-38.561-34.273-76.79-18.153-12.69-26.931-31.08-23.312-38.228 1.744-3.445 7.924 1.578 14.37 0 20.466-5.013 63.76 0 107.641 0H1440V738z' fill='url(%23f)'/%3E%3Cpath d='M520.396 612.23c8.7-1.82 11.409 7.778 27.275 7.778 15.866 0 29.975-9.065 49.61-1.072 19.636 7.994 35.523 32.21 15.406 27.541-11.882-2.758-26.578-11.167-46.816 4.842-20.239 16.008-32.349-14.56-47.511-9.869-15.163 4.692-6.735-27.386 2.036-29.22z' fill='url(%23g)'/%3E%3C/g%3E%3C/svg%3E");
}

.btn {
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: #fcfeff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-left: 1000px;
  vertical-align: top;
}

.btn:hover {
  background: #f0f0f0;
  text-decoration: none;
}

.btn1 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #d557e0;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn1:hover {
  background: #daaee3;
  text-decoration: none;

}

.btn2 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #d557e0;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 0;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  }

.btn2:hover {
  background: #daaee3;
  text-decoration: none;
}
.build{

  width: 400px;
  height: 400px;
  margin-left: 50px;
  margin-top: 150px;
}

.community-container{
  width: 40%;
  height: 30%;
  position: absolute;
  top: 2900px;
  box-shadow: 3px 3px 3px 3px grey;
  margin: 50px auto auto auto;
  margin-bottom: 20px;
  border-radius: 20px;
  left: 500px;
  background-color: white;


}
.community{
  text-align: center;
}

.copyright{
  text-align: right;
  margin-top: 10px;
  font-size: 15px;

}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-instagram {
  color: white;
}

.flow{
  display: inline-block;
  width: 400px;
  height: 400px;
  margin-left: 100px;
  margin-top: 300px;
  vertical-align: middle;

}

.flow-image{
  position: absolute;
  top: 1600px;
  left: 900px;
  width: 100px;
  height: 100px;
}
.flow-container{
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 80%;
  margin: 50px auto auto auto;
  box-shadow: 3px 3px 3px 3px grey;

}

.footer{
  background-color: #003333;
  width: 100%;
  height: 400px;
  color: #ffffff;
  padding-top: 150px;
  z-index: 9;
}

.grow{
  display: inline-block;
  width: 400px;
  height: 400px;
  margin-left: 100px;
  margin-top: 400px;

}

.grow-image{
  position: absolute;
  top: 900px;
  left: 900px;
  width: 100px;
  height: 100px;


}
.grow-container{

  border-radius: 20px;
  width: 80%;
  height: inherit;
  box-shadow: 3px 3px 3px 3px grey;
  margin: 50px auto auto auto;
  box-sizing: border-box;

}


.logo{
  display: inline-block;
  margin-left: 50px;
}


.mobile{
  position: absolute;
  top: 80px;
  left: 750px;
  width: 100px;
  height: 100px;
}


.social{
  display: inline-block;
  margin-left: 200px;
  margin-top: 0;
  padding: 20px;
  font-size: 30px;
  width: 100px;

}

.users{
  display: inline-block;
  width: 400px;
  height: 400px;
  margin-left: 100px;
  margin-top: 200px;
}

.users-image{
  position: absolute;
  top: 2300px;
  left: 900px;
  width: 100px;
  height: 100px;
}
.users-container{
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 80%;
  box-shadow: 3px 3px 3px 3px grey;
  margin: 50px auto 200px auto;

}
